<!doctype html>
<html>
	<head></head>
	<body style="margin:0;">
		<script type="text/javascript"
			src="{{ embed_host }}/public/embed-table.js"
			data-table-id="{{ embed_id }}"
			data-expand="true">
		</script>
	</body>
</html>