<!DOCTYPE html>
<head>
	<title>{{#if data.title}}{{data.title}}{{else}}Untitled{{/if}} | The Columns Project</title>

	<!-- Google Webmaster Tools Verification -->
	<meta name="google-site-verification" content="cGqPP1heySk1JcsVGIzL-gc2p6ykZl6mKzzr92E610k" />

	<!-- Set up viewport for mobile and desktop -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
	<meta name="viewport" content="initial-scale=1, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0" media="(device-width: 1024px)">

	<!-- Fav Icon -->
	<link rel="icon" type="image/png" href="images/favicon.png" />

	<!-- CSS -->
	<link href="css/embed-table.css" rel="stylesheet">

</head>
<body>
	{{> header data.title}}
	<div class="columns-table-container">
		<div class="columns-table-wrapper">
			<div class="columns-table">
				{{#each data.data}}
					{{> row this}}
				{{/each}}
			</div>
			
		</div>
	</div>
</body>