<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style></style>
</head>
<body>

<div bgcolor="#fafafa" style="background:#fafafa;color:#ffffff;font-family:'Avenir',Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:normal;line-height:30px;margin:0;min-height:400px;padding:0;width:100%!important">
  <div style="background-color:#fafafa!important;line-height:100%;min-height:400px;width:100%">
    <table align="center" bgcolor="#fafafa" cellpadding="0" cellspacing="0" style="background-color:#fafafa!important;border-collapse:collapse;border-spacing:0;border:0" width="100%">
      <tbody>
      <tr>
        <td align="center" bgcolor="#fafafa" style="background-color:#fafafa!important;border-collapse:collapse;font-size:0;line-height:0;padding:0" valign="top" width="100%">
          <table border="0" cellpadding="0" cellspacing="0" style="border-top-color:#ebebeb;border-top-style:solid;border-bottom-color:#ebebeb;border-bottom-style:solid;border-collapse:collapse;border-left-color:#ebebeb;border-left-style:solid;border-right-color:#ebebeb;border-right-style:solid;border-spacing:0;border-width:1px;">
            <tbody>
            <tr>
              <td align="center" style="border-collapse:collapse;border-radius:0;font-size:0;line-height:0;min-width:320px;overflow:hidden;padding:0;width:100%" valign="top" width="100%">
                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0;width:100%" width="100%">
                  <tbody>
                  <tr>
                    <td align="center" bgcolor="#3E97BD" style="background:#3E97BD;border-collapse:collapse;font-size:0;line-height:0;padding:0;width:478px" valign="middle" width="478">
                      <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0;margin:0;width:100%;">
                        <tbody style='width:100%;'>
                        <tr>
                          <td align="left" style="border-collapse:collapse;color:white;font-family:'Avenir','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:100;padding:32px;width:100%" width="100%">
                            <img src="{{host}}/images/email_logo@2x.png" height="24" width="28" style='margin-bottom:16px;'/>
                            <h1 style='font-size:26px;font-weight:lighter;line-height:36px;margin-bottom:32px;margin-top:0;'>Welcome back!</h1>
                            <p style='line-height:22px;margin:0;'>Ready to create a beautiful, embeddable table?</p>
                            <p style='line-height:22px;margin:0;'>Just upload a .csv and we'll do the rest.</p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" style="border-collapse:collapse;width:100%" width="100%">
                            <span style="display:block;margin-top:32px;margin-bottom:64px"><a href='{{host}}' style="display:inline-block;height:42px;border:1px solid #ffffff;background-color:#3E97BD;appearance:none;border-radius:22px;font-size:12px;line-height:44px;font-family:'Avenir','Helvetica Neue',helvetica;padding-left:24px;padding-right:24px;color:#fff;font-weight:500;text-decoration:none;letter-spacing:0.5px;">CREATE YOUR FIRST TABLE</a></span>
                          </td>
                        </tr>
                         <tr>
                          <td align="right" style="border-collapse:collapse;margin-left:32px;" width="100%">
                            <img src='{{host}}/images/upload_devices@2x.png' width='446' />
                          </td>
                        </tr>
                        
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- <table align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0" width="100%">
            <tbody>
            <tr>
              <td align="center" style="border-collapse:collapse;border-radius:0;font-size:0;line-height:0;min-width:320px;overflow:hidden;padding:0;width:100%" valign="top" width="100%">
                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0;width:100%" width="100%">
                  <tbody>
                  <tr>
                    <td align="center" bgcolor="#f9f9f9" style="background:#f9f9f9;border-collapse:collapse;font-size:0;line-height:0;padding:0;width:478px" valign="middle" width="478">
                      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0;border:0;width:100%;">
                        <tbody>
                        <tr>
                          <td align="center" style="border-collapse:collapse;color:#ababab;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;font-weight:normal;line-height:18px;padding:20px;width:100%" width="100%">
                            <p>© 2014 Your Company<br />
                              123 Main Street, Any Town CA, 12345<br />
                              <a href='tel:6506003661' style="color:#3a3a3a;text-decoration:none;font-family:helvetica;">123.456.7890</a>
                            </p>
                            <a href='#' style='color:#3a3a3a;text-decoration:none;'>Unsubscribe</a> from Company emails. <a href='#' target="_blank" style='color:#3a3a3a;text-decoration:none;'>Terms & Conditions.</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table> -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>